<a href="https://colab.research.google.com/github/OmdenaAI/SudanChapter_AnalyzeHealthcareAccessibility/blob/main/03_Data_preprocessing/demographics/omdena_sudan_health_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## The purpose of this notebook is analyse the "[demographicsAlt.csv](https://github.com/OmdenaAI/SudanChapter_AnalyzeHealthcareAccessibility/blob/main/03_Data_preprocessing/demographics/demographicsAlt.csv)" file

In [1]:
file_path = "/content/drive/MyDrive/Omdena-Health_Sudan/demographicsAlt.csv"

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv(file_path)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5044 entries, 0 to 5043
Data columns (total 87 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Unnamed: 0                            5044 non-null   int64
 1   Region, subregion, country or area *  5044 non-null   object
 2   Location code                         5044 non-null   int64
 3   ISO3 Alpha-code                       5044 non-null   object
 4   ISO2 Alpha-code                       5044 non-null   object
 5   Type                                  5044 non-null   object
 6   Parent code                           5044 non-null   int64
 7   indicator                             5043 non-null   object
 8   gender                                5044 non-null   object
 9   quintile                              5044 non-null   int64
 10  ages                                  1250 non-null   object
 11  values are in percentage              5044 non-null   bool
 12  non-zero-year-columns                 5044 non-null   int64
 13  1950.0                                5044 non-null   float64
 14  1951.0                                5044 non-null   float64
 15  1952.0                                5044 non-null   float64
 16  1953.0                                5044 non-null   float64
 17  1954.0                                5044 non-null   float64
 18  1955.0                                5044 non-null   float64
 19  1956.0                                5044 non-null   float64
 20  1957.0                                5044 non-null   float64
 21  1958.0                                5044 non-null   float64
 22  1959.0                                5044 non-null   float64
 23  1960.0                                5044 non-null   float64
 24  1961.0                                5044 non-null   float64
 25  1962.0                                5044 non-null   float64
 26  1963.0                                5044 non-null   float64
 27  1964.0                                5044 non-null   float64
 28  1965.0                                5044 non-null   float64
 29  1966.0                                5044 non-null   float64
 30  1967.0                                5044 non-null   float64
 31  1968.0                                5044 non-null   float64
 32  1969.0                                5044 non-null   float64
 33  1970.0                                5044 non-null   float64
 34  1971.0                                5044 non-null   float64
 35  1972.0                                5044 non-null   float64
 36  1973.0                                5044 non-null   float64
 37  1974.0                                5044 non-null   float64
 38  1975.0                                5044 non-null   float64
 39  1976.0                                5044 non-null   float64
 40  1977.0                                5044 non-null   float64
 41  1978.0                                5044 non-null   float64
 42  1979.0                                5044 non-null   float64
 43  1980.0                                5044 non-null   float64
 44  1981.0                                5044 non-null   float64
 45  1982.0                                5044 non-null   float64
 46  1983.0                                5044 non-null   float64
 47  1984.0                                5044 non-null   float64
 48  1985.0                                5044 non-null   float64
 49  1986.0                                5044 non-null   float64
 50  1987.0                                5044 non-null   float64
 51  1988.0                                5044 non-null   float64
 52  1989.0                                5044 non-null   float64
 53  1990.0                                5044 non-null   float64
 54  1991.0                                5044 non-null   float64
 55  1992.0                                5044 non-null   float64
 56  1993.0                                5044 non-null   float64
 57  1994.0                                5044 non-null   float64
 58  1995.0                                5044 non-null   float64
 59  1996.0                                5044 non-null   float64
 60  1997.0                                5044 non-null   float64
 61  1998.0                                5044 non-null   float64
 62  1999.0                                5044 non-null   float64
 63  2000.0                                5044 non-null   float64
 64  2001.0                                5044 non-null   float64
 65  2002.0                                5044 non-null   float64
 66  2003.0                                5044 non-null   float64
 67  2004.0                                5044 non-null   float64
 68  2005.0                                5044 non-null   float64
 69  2006.0                                5044 non-null   float64
 70  2007.0                                5044 non-null   float64
 71  2008.0                                5044 non-null   float64
 72  2009.0                                5044 non-null   float64
 73  2010.0                                5044 non-null   float64
 74  2011.0                                5044 non-null   float64
 75  2012.0                                5044 non-null   float64
 76  2013.0                                5044 non-null   float64
 77  2014.0                                5044 non-null   float64
 78  2015.0                                5044 non-null   float64
 79  2016.0                                5044 non-null   float64
 80  2017.0                                5044 non-null   float64
 81  2018.0                                5044 non-null   float64
 82  2019.0                                5044 non-null   float64
 83  2020.0                                5044 non-null   float64
 84  2021.0                                5044 non-null   float64
 85  2022.0                                5044 non-null   float64
 86  2023.0                                5044 non-null   float64
dtypes: bool(1), float64(74), int64(5), object(7)
memory usage: 3.3+ MB

In [5]:
# drop 'Unnamed: 0' column
data.drop(columns=["Unnamed: 0"], inplace=True)

In [6]:
# rename 'Region, subregion, country or area *' column
data.rename(columns={"Region, subregion, country or area *": "Region_country_area"}, inplace=True)

###Note that each row represente an indicator (idicator column)

In [7]:
data[["indicator","quintile", "1950.0", "1980.0", "2022.0", "2023.0"]].head(20)

,indicator,quintile,1950.0,1980.0,2022.0,2023.0
0,Administration of a nationally representative...,9,0.0,0.0,0.0,0.0
1,Administration of a nationally representative...,9,0.0,0.0,0.0,0.0
2,Administration of a nationally-representative...,9,0.0,0.0,0.0,0.0
3,Administration of a nationally-representative...,9,0.0,0.0,0.0,0.0
4,Administration of a nationally-representative...,9,0.0,0.0,0.0,0.0
5,Administration of a nationally-representative...,9,0.0,0.0,0.0,0.0
6,5-bank asset concentration,9,0.0,0.0,0.0,0.0
7,A woman can apply for a passport in the same w...,9,0.0,0.0,1.0,1.0
8,A woman can apply for a passport in the same w...,9,0.0,0.0,1.0,1.0
9,"A woman can be ""head of household"" in the same...",9,0.0,0.0,0.0,0.0
10,"A woman can be ""head of household"" in the same...",9,0.0,0.0,0.0,0.0
11,A woman can choose where to live in the same w...,9,0.0,0.0,0.0,0.0
12,A woman can choose where to live in the same w...,9,0.0,0.0,0.0,0.0
13,A woman can get a job in the same way as a man...,9,0.0,0.0,0.0,0.0
14,A woman can get a job in the same way as a man...,9,0.0,0.0,0.0,0.0
15,A woman can obtain a judgment of divorce in th...,9,0.0,0.0,0.0,0.0
16,A woman can obtain a judgment of divorce in th...,9,0.0,0.0,0.0,0.0
17,A woman can open a bank account in the same wa...,9,0.0,1.0,1.0,1.0
18,A woman can open a bank account in the same wa...,9,0.0,1.0,1.0,1.0
19,A woman can register a business in the same wa...,9,0.0,1.0,1.0,1.0

In [8]:
# columns
cols = list(data.columns)

In [9]:
# categorial columns
cat_cols = ["Region_country_area","Location code", "ISO2 Alpha-code","Type","Parent code", "indicator",
           "gender","quintile", "ages"]

In [10]:
# how many different values for each categorial column ?
for col in cat_cols:
  print(f"{col} : {data[col].nunique()}")

Region_country_area : 1
Location code : 1
ISO2 Alpha-code : 1
Type : 1
Parent code : 1
indicator : 5043
gender : 3
quintile : 6
ages : 129

In [11]:
# genrate a sample from the unique values of 'indicator column
import random
random.sample(list(data["indicator"].unique()), 10)

['A woman can work at night in the same way as a man (1=yes; 0=no)gender',
 'Persistence to last grade of primary, total (% of cohort)',
 'Adjusted net attendance rate, one year before the official primary entry age, rural, female (%)',
 'Completion rate, primary education, rural, middle quintile, both sexes (%)',
 'Population, ages 13-16, female',
 'Educational attainment rate, completed Doctoral or equivalent education, population 25+ years, adjusted location parity index (LPIA)',
 'Barro-Lee: Population in thousands, age 60-64, female',
 'Beneficiary incidence in extreme poor (<$2.15 a day) (%) - In-Kind (preT)',
 'Out-of-school rate for youth of upper secondary school age, rural, fourth quintile, both sexes (household survey data) (%)',
 'Population, ages 6-10, femaleeducation']

In [12]:
# get indicator related to health
health_indicators = []
indicator_list = list(data["indicator"].unique())
for indic in indicator_list:
  try:
    if "health" in indic:
      health_indicators.append(indic)
  except:
    pass

['ARI treatment (% of children under 5 taken to a health provider)', 'Births attended by skilled health staff (% of total)', 'Births attended by skilled health staff (% of total)gender', 'Community health workers (per 1,000 people)', 'Current health expenditure (% of GDP)', 'Current health expenditure per capita (current US$)', 'Current health expenditure per capita, PPP (current international $)', 'Domestic general government health expenditure (% of GDP)', 'Domestic general government health expenditure (% of current health expenditure)', 'Domestic general government health expenditure (% of general government expenditure)', 'Domestic general government health expenditure per capita (current US$)', 'Domestic general government health expenditure per capita, PPP (current international $)', 'Domestic private health expenditure (% of current health expenditure)', 'Domestic private health expenditure per capita (current US$)', 'Domestic private health expenditure per capita, PPP (current international $)', 'External health expenditure (% of current health expenditure)', 'External health expenditure per capita (current US$)', 'External health expenditure per capita, PPP (current international $)', 'Health expenditure, private (% of total health expenditure)', 'Out-of-pocket expenditure (% of current health expenditure)', 'Place of delivery (births at health facility) (% of births): Q1 (lowest)', 'Place of delivery (births at health facility) (% of births): Q2', 'Place of delivery (births at health facility) (% of births): Q3', 'Place of delivery (births at health facility) (% of births): Q4', 'Place of delivery (births at health facility) (% of births): Q5 (highest)', 'Proportion of population pushed below the $2.15 ($ 2017 PPP) poverty line by out-of-pocket health care expenditure (%)', 'Proportion of population pushed below the $3.65 ($ 2017 PPP) poverty line by out-of-pocket health care expenditure (%)', 'Proportion of population pushed below the 60% median consumption poverty line by out-of-pocket health expenditure (%)', 'Proportion of population pushed further below the $2.15 ($ 2017 PPP) poverty line by out-of-pocket health care expenditure (%)', 'Proportion of population pushed further below the $3.65 ($ 2017 PPP) poverty line by out-of-pocket health care expenditure (%)', 'Proportion of population pushed further below the 60% median consumption poverty line by out-of-pocket health care expenditure (%)', 'Proportion of population pushed or further pushed below the $2.15 ($ 2017 PPP) poverty line by out-of-pocket health care expenditure (%)', 'Proportion of population pushed or further pushed below the $3.65 ($ 2017 PPP) poverty line by out-of-pocket health care expenditure (%)', 'Proportion of population pushed or further pushed below the 60% median consumption poverty line by out-of-pocket health expenditure (%)', 'Proportion of population spending more than 10% of household consumption or income on out-of-pocket health care expenditure (%)', 'Proportion of population spending more than 25% of household consumption or income on out-of-pocket health care expenditure (%)', 'Treatment of acute respiratory infection (ARI) (% of children under 5 taken to a health provider): Q1 (lowest)', 'Treatment of acute respiratory infection (ARI) (% of children under 5 taken to a health provider): Q2', 'Treatment of acute respiratory infection (ARI) (% of children under 5 taken to a health provider): Q3', 'Treatment of acute respiratory infection (ARI) (% of children under 5 taken to a health provider): Q4', 'Treatment of acute respiratory infection (ARI) (% of children under 5 taken to a health provider): Q5 (highest)']

In [16]:
len(health_indicators)

41

In [17]:
health_indicators[0:10]

['ARI treatment (% of children under 5 taken to a health provider)',
 'Births attended by skilled health staff (% of total)',
 'Births attended by skilled health staff (% of total)gender',
 'Community health workers (per 1,000 people)',
 'Current health expenditure (% of GDP)',
 'Current health expenditure per capita (current US$)',
 'Current health expenditure per capita, PPP (current international $)',
 'Domestic general government health expenditure (% of GDP)',
 'Domestic general government health expenditure (% of current health expenditure)',
 'Domestic general government health expenditure (% of general government expenditure)']

In [20]:
data[data["indicator"] == health_indicators[0]]

,Region_country_area,Location code,ISO3 Alpha-code,ISO2 Alpha-code,Type,Parent code,indicator,gender,quintile,ages,...,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0,2023.0
35,Sudan,729,SDN,SD,Country/Area,912,ARI treatment (% of children under 5 taken to ...,unknown,9,NaN,...,48.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0